.color-ribbon {
  padding: 2px;
  background-image: linear-gradient(90deg, rgb(250, 63, 38), rgb(171, 182, 27), rgb(66, 149, 185), rgb(255, 0, 200));
}

.navbar {
  box-shadow: 0px 1px 10px 0px rgba(221, 221, 221, 0.41);
}

.nav-logo {
  width: 300px;
  padding: 10px 30px 20px;
}

.nav-item {
  font-weight: 500;
  padding: 0px;
}

.nav-item a.nav-link {
  padding: 18px 8px !important;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(151, 149, 149);
}

/* a.nav-link.active {
  color: rgb(29, 77, 90);
  padding: 18px 8px 16px !important;
  border-bottom: 2px solid rgb(29, 77, 90);
} */

body {
  /* background-color: rgb(240, 255, 250); */
  height: 100%;
  width: 100%
}









.zoomImgContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.859);
  z-index: 1;
}


.zoomInImage {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.zoom-img {
  width: 420px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.332);
}

/* .imgclosebtn {
  position: fixed;
  cursor: pointer;
  top: -12%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5rem;
  color: white;
} */

.imgclosebtn {
  /* position: fixed; */
  cursor: pointer;
  /* top: -12%;
  left: 50%;
  transform: translate(-50%); */
  font-size: 2.5rem;
  color: white;
}


.my-name {
  letter-spacing: 3px;
}

.myimage-about {
  height: 500px;
}

.my-info p {
  text-align: justify;
  letter-spacing: 1px;
}

.contact-container {
  margin-top: 40px;
}

.contact-icon {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.card {
  border: 0;
  border-radius: 0%;
}

/* extra small */
@media (max-width: 576px) {
  .card-img {
    height: 100%;
    object-fit: cover;
    width: 320px;
  }
}

/* small */
@media (min-width: 576px) {
  .card-img {
    height: 320px;
    object-fit: cover;
    cursor: pointer;
  }
}

/* medium */
@media (min-width: 768px) {
  .card-img {
    height: 320px;
    object-fit: cover;
    cursor: pointer;
  }
}

/* large */
@media (min-width: 992px) {
  .card-img {
    height: 320px;
    object-fit: cover;
    cursor: pointer;
  }
}